In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os.path
import pathlib
import platform 
import json 
import geopandas as gpd
from shapely.geometry import Point

In [2]:
cwd = pathlib.Path().resolve()
src = cwd.parent
data = src.parent.parent.parent
OS_type = platform.system()

if OS_type == 'Darwin':
    username = 'Mats '
    data_path = os.path.join(data, 'data_tana', 'TAHMO')
    
else:
    username = 'Mootje'
    data_path = os.path.join(data, 'OneDrive - Delft University of Technology', 'TU Delft', 'Master ENVM', 'MDP', 'Model', 'Data', 'TAHMO')

print(f"Welcome {username}, have a wondeful day on your {OS_type} machine. Your data should be located in {data_path}")

Welcome Mats , have a wondeful day on your Darwin machine. Your data should be located in /Users/matskerver/Documents/data_tana/TAHMO

In [11]:
data_files = glob.glob(os.path.join(data_path, '*.csv'))

dataframes = {}

for file in data_files:
    station_name = os.path.splitext(os.path.basename(file))[0].split('_')[0]
    df = pd.read_csv(file, index_col = 0, sep =',', parse_dates = True)
    dataframes[station_name] = df

/var/folders/7j/6366qhx54w16_p3_07s3n5ym0000gn/T/ipykernel_56528/373269495.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(file, index_col = 0, sep =',', parse_dates = True)

In [4]:
dataframes['TA00023']

                       te     pr     ra
Timestamp
2018-03-16 08:15:00  27.4  0.017  834.0
2018-03-16 08:20:00  27.3  0.000  643.0
2018-03-16 08:25:00  27.3  0.000  805.0
2018-03-16 08:30:00  27.2  0.000  728.0
2018-03-16 08:35:00  27.2  0.000  676.0
...                   ...    ...    ...
2023-12-30 23:40:00  22.4  0.000    0.0
2023-12-30 23:45:00  22.4  0.000    0.0
2023-12-30 23:50:00  22.3  0.000    0.0
2023-12-30 23:55:00  22.3  0.000    0.0
2023-12-31 00:00:00  22.4  0.000    0.0

[608694 rows x 3 columns]

In [5]:
invalid_keys = []

# Iterate over each key, df pair in the dictionary
for key, df in dataframes.items():
    # Check if 'te' and 'pr' columns are present in the dataframe
    if 'te' not in df.columns or 'pr' not in df.columns:
        # Add the key to the list of invalid keys
        invalid_keys.append(key)

invalid_keys

['TA00360', 'TA00080', 'TA00166', 'location']

In [6]:
dataframes['TA00080']

,te_S001384,te_S000824,te_S000823,pr_S001384,pr_S000824,pr_S000822,ra_S001384,ra_S000820,ra_S000824
Timestamp,,,,,,,,,
2018-01-01 00:00:00,NaN,NaN,13.2,NaN,NaN,NaN,NaN,0.0,NaN
2018-01-01 00:05:00,NaN,NaN,13.0,NaN,NaN,NaN,NaN,0.0,NaN
2018-01-01 00:10:00,NaN,NaN,13.0,NaN,NaN,NaN,NaN,0.0,NaN
2018-01-01 00:15:00,NaN,NaN,12.9,NaN,NaN,NaN,NaN,0.0,NaN
2018-01-01 00:20:00,NaN,NaN,12.8,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...
2023-12-30 23:40:00,16.9,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2023-12-30 23:45:00,16.9,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2023-12-30 23:50:00,16.9,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2023-12-30 23:55:00,16.9,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2023-12-31 00:00:00,16.8,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [7]:
# Dataset from WRA contained three files with strange formatting, presumably due to an error with the API 
# This snipped solves the individual dataframes after manual inspection. For implementation with more stations 
# it is recommended to contact TAHMO or skip these 'faulty' stations 

if dataframes['TA00080'].shape[1] == 9: # This contains three values for each te, pr, ra, two of which are NaN
    dataframes['TA00080'].columns = ['te_1', 'te_2', 'te_3', 'pr_1', 'pr_2', 'pr_3', 'ra_1', 'ra_2', 'ra_3']
    dataframes['TA00080'] = dataframes['TA00080'].fillna(0.0)
    dataframes['TA00080']['te'] = dataframes['TA00080'].iloc[:, :3].sum(axis=1) #summed to fill the columns
    dataframes['TA00080']['pr'] = dataframes['TA00080'].iloc[:, 3:6].sum(axis=1)
    dataframes['TA00080']['ra'] = dataframes['TA00080'].iloc[:, 6:9].sum(axis=1)
    dataframes['TA00080'] = dataframes['TA00080'].iloc[:, 9:]  #Remove the faulty columns
    
if dataframes['TA00360'].shape[1] == 6: #similar to above
    dataframes['TA00360'].columns = ['te_1', 'te_2', 'pr_1', 'pr_2', 'ra_1', 'ra_2']
    dataframes['TA00360']['te'] = dataframes['TA00360'].iloc[:, :2].sum(axis=1)
    dataframes['TA00360']['pr'] = dataframes['TA00360'].iloc[:, 2:4].sum(axis=1)
    dataframes['TA00360']['ra'] = dataframes['TA00360'].iloc[:, 4:6].sum(axis=1)
    dataframes['TA00360'] = dataframes['TA00360'].iloc[:, 6:]
    
if dataframes['TA00166'].shape[1] == 9: #similar to above
    dataframes['TA00166'].columns = ['te_1', 'te_2', 'te_3', 'pr_1', 'pr_2', 'pr_3', 'ra_1', 'ra_2', 'ra_3']
    dataframes['TA00166']['te'] = dataframes['TA00166'].iloc[:, :3].sum(axis=1)
    dataframes['TA00166']['pr'] = dataframes['TA00166'].iloc[:, 3:6].sum(axis=1)
    dataframes['TA00166']['ra'] = dataframes['TA00166'].iloc[:, 6:9].sum(axis=1)
    dataframes['TA00166'] = dataframes['TA00166'].iloc[:, 9:]

In [8]:
def Extra_rad(Tmax, Tmin, df, lat):
    "Calculation of Extraterrestrial radiation"
    G = 0.0820 #* 10 ** 6 # J/m^2/min  --> Constant value

    # Calculation of the radian location of the station
    phi = np.pi / 180 * lat

    # Calculation of the number of the day in a year
    J = df.index.dayofyear.values  # Extract day of the year directly from the index

    # Calculation of the extraterrestrial radiation: Ra
    dr = 1 + 0.033 * np.cos(2 * np.pi * J / 365)
    delta = 0.409 * np.sin((2 * np.pi * J / 365) - 1.39)
    w = np.arccos(- np.tan(phi) * np.tan(delta))
    Ra = ((24 * 60) / np.pi) * G * dr * (w * np.sin(phi) * np.sin(delta) + np.cos(phi) * np.cos(delta) * np.sin(w)) #* 10 ** - 6

    # Create a DataFrame with Ra values and corresponding timestamps
    Ra_df = pd.DataFrame({'Ra': Ra}, index=df.index)

    return Ra_df

In [9]:
def process_dataframe(df):
    # Convert the index to datetime
    df.index = pd.to_datetime(df.index)
    
    # Calculate daily mean temperature
    df_temp_mean = df['te'].resample('D').mean()
    # Calculate daily minimum temperature
    df_temp_min = df['te'].resample('D').min()
    # Calculate daily maximum temperature
    df_temp_max = df['te'].resample('D').max()
    
    # Calculate daily precipitation sum
    df_pr_daily = df['pr'].resample('D').sum()
    
    # Calculate extraterrestrial radiation
    lat = -1.071545386681787  # Latitude for calculation
    df_ra = Extra_rad(df_temp_max, df_temp_min, df, lat)
    df_ra_daily = df_ra.resample('D').mean()
    # Concatenate all daily data into a single dataframe
    
    # Concatenate all daily data into a single dataframe
    df_daily = pd.concat([df_pr_daily, df_temp_mean, df_temp_max, df_temp_min, df_ra_daily], axis=1)
    
    # Rename columns
    df_daily.columns = ['pr', 'te_mean', 'te_max', 'te_min', 'ra_mean']
    
    return df_daily

In [10]:
# Process each dataframe in the dictionary
for key, df in dataframes.items():
     # Process the dataframe and update it in the dictionary
    dataframes[key] = process_dataframe(df)

/var/folders/7j/6366qhx54w16_p3_07s3n5ym0000gn/T/ipykernel_56528/1807254617.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.index = pd.to_datetime(df.index)

DateParseError: Unknown datetime string format, unable to parse: TA00023, at position 0

In [ ]:
df_station = dataframes['TA00023']

In [ ]:
fig, axs = plt.subplots(3, 1, figsize=(10, 10), sharex=True, gridspec_kw={'height_ratios': [2, 1, 1]})

# Plot lines for mean, min, and max temperature in the first subplot
axs[0].plot(df_station.index, df_station['te_mean'], label='Mean temperature')
axs[0].plot(df_station.index, df_station['te_min'], label='Min temperature')
axs[0].plot(df_station.index, df_station['te_max'], label='Max temperature')
axs[0].set_ylabel('Temperature (Â°C)')
axs[0].legend()

# Plot a bar graph for precipitation in the second subplot
axs[1].bar(df_station.index, df_station['pr'], width=0.4, align='center', label='Precipitation', color='blue')
axs[1].set_ylabel('Precipitation (mm)')
axs[1].legend()

# Plot a line graph for radiation mean in the third subplot
axs[2].plot(df_station.index, df_station['ra_mean'], label='Radiation mean', color='orange')
axs[2].set_ylabel('Radiation (W/mÂ²)')
axs[2].legend()

plt.xlabel('Date')
plt.tight_layout()
plt.show()

# Adding metadeta

In [ ]:
with open(os.path.join(data_path, 'metadata_TAHMO.txt')) as f: 
    metadata_tahmo = f.read() 
    metadata_tahmo = json.loads(metadata_tahmo)

In [ ]:
#print(type(dict(metadata_tahmo)))

location_name_tahmo = []
for key, value in metadata_tahmo.items():
    if key.startswith('TA'):
        location = value.get('location', {})
        name = location.get('name')
        longitude = location.get('longitude')
        latitude = location.get('latitude')
        if name and longitude is not None and latitude is not None:
            location_name_tahmo.append([key, longitude, latitude])
            

df_tahmo = pd.DataFrame(location_name_tahmo)
df.columns = ['name', 'longitude', 'latitude']
df_tahmo.to_csv(os.path.join(data_path, 'location_data.csv'), index=False)

In [ ]:
# Plot the GeoDataFrame if interested 
plotting = False 
if plotting == True:
    geometry = [Point(lon, lat) for name, lon, lat in location_name_tahmo]
    points_df = gpd.GeoDataFrame(location_name_tahmo, columns=['name', 'longitude', 'latitude'], geometry= geometry)
    # Convert 'longitude' and 'latitude' columns to numeric values
    points_df['longitude'] = pd.to_numeric(points_df['longitude'])
    points_df['latitude'] = pd.to_numeric(points_df['latitude'])
    # Create a geometry column using longitude and latitude
    points_df['geometry'] = gpd.points_from_xy(points_df['longitude'], points_df['latitude'])
    
    points_df.plot()
    plt.title('Available TAHMO stations')
    plt.xlabel('Longitude')
    plt.ylabel('Latitude')
    plt.show()

In [ ]:
def Oudin_evap(df):
    # Mean daily temperature [C]
    Ta = df['te_mean'] 

    # Extra terrestial radiation [MJ/m2/day]
    Re = df['ra_mean']

    # latent heat flux [MJ/kg]
    lam = 2.45 
    
    # water density [kg/m3]
    rho = 1000
    
    # Calculate Pe
    Pe = np.where(Ta + 5 > 0, (Re / (lam * rho)) * (Ta + 5) / 100, 0)
    
    return Pe

In [ ]:
# adding the evaportaion to the dataframes in the dictionary
for key, df in dataframes.items():
    # Calculate Pe for the current dataframe
    df['pe'] = Oudin_evap(df)

dataframes

In [ ]:
dataframes['TA00130']['pe'].plot()