In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os.path
import pathlib
import platform

In [4]:
OS_type = platform.system()

Darwin

In [8]:
cwd = pathlib.Path().resolve()
src = cwd.parent
data = src.parent.parent.parent
OS_type = platform.system()

if OS_type == 'Darwin':
    username = 'Mats '
    data_path = os.path.join(data, 'data_tana')
else:
    username == 'Mootje'
    data_path = os.path.join(data, 'OneDrive - Delft University of Technology', 'TU Delft', 'Master ENVM', 'MDP', 'Model', 'Data', 'TAHMO')

print(f"Welcome {username}, have a wondeful day on your {OS_type} machine. Your data should be located in {data_path}.")

Welcome Mats , have a wondeful day on your Darwin machine. Your data should be located in /Users/matskerver/Documents/data_tana

In [3]:
data_files = glob.glob(os.path.join(data_path, '*.csv'))

dataframes = {}

for file in data_files:
    station_name = os.path.splitext(os.path.basename(file))[0].split('_')[0]
    df = pd.read_csv(file, index_col = 0, sep =',', parse_dates = True)
    dataframes[station_name] = df

In [4]:
dataframes['TA00023']

                       te     pr     ra
Timestamp
2018-03-16 08:15:00  27.4  0.017  834.0
2018-03-16 08:20:00  27.3  0.000  643.0
2018-03-16 08:25:00  27.3  0.000  805.0
2018-03-16 08:30:00  27.2  0.000  728.0
2018-03-16 08:35:00  27.2  0.000  676.0
...                   ...    ...    ...
2023-12-30 23:40:00  22.4  0.000    0.0
2023-12-30 23:45:00  22.4  0.000    0.0
2023-12-30 23:50:00  22.3  0.000    0.0
2023-12-30 23:55:00  22.3  0.000    0.0
2023-12-31 00:00:00  22.4  0.000    0.0

[608694 rows x 3 columns]

In [14]:
invalid_keys = []

# Iterate over each key, df pair in the dictionary
for key, df in dataframes.items():
    # Check if 'te' and 'pr' columns are present in the dataframe
    if 'te' not in df.columns or 'pr' not in df.columns:
        # Add the key to the list of invalid keys
        invalid_keys.append(key)

invalid_keys

['TA00080', 'TA00166', 'TA00360']

In [17]:
dataframes['TA00080'].columns = ['te_1', 'te_2', 'te_3', 'pr_1', 'pr_2', 'pr_3', 'ra_1', 'ra_2', 'ra_3', 'te']
dataframes['TA00080'].replace(np.nan, 0)


# dataframes['TA00080']['te'] = dataframes['TA00080']['pr_1'] +dataframes['TA00080']['pr_2']+ dataframes['TA00080']['pr_3']
# dataframes['TA00080']['te'].plot()

                     te_1  te_2  te_3  pr_1  pr_2  pr_3  ra_1  ra_2  ra_3   te
Timestamp
2018-01-01 00:00:00   0.0   0.0  13.2   0.0   0.0   0.0   0.0   0.0   0.0  0.0
2018-01-01 00:05:00   0.0   0.0  13.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
2018-01-01 00:10:00   0.0   0.0  13.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
2018-01-01 00:15:00   0.0   0.0  12.9   0.0   0.0   0.0   0.0   0.0   0.0  0.0
2018-01-01 00:20:00   0.0   0.0  12.8   0.0   0.0   0.0   0.0   0.0   0.0  0.0
...                   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
2023-12-30 23:40:00  16.9   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
2023-12-30 23:45:00  16.9   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
2023-12-30 23:50:00  16.9   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
2023-12-30 23:55:00  16.9   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
2023-12-31 00:00:00  16.8   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0

[578800 rows x 10 columns]

In [6]:
def Extra_rad(Tmax, Tmin, df, lat):
    "Calculation of Extraterrestrial radiation"
    G = 0.0820 #* 10 ** 6 # J/m^2/min  --> Constant value

    # Calculation of the radian location of the station
    phi = np.pi / 180 * lat

    # Calculation of the number of the day in a year
    J = df.index.dayofyear.values  # Extract day of the year directly from the index

    # Calculation of the extraterrestrial radiation: Ra
    dr = 1 + 0.033 * np.cos(2 * np.pi * J / 365)
    delta = 0.409 * np.sin((2 * np.pi * J / 365) - 1.39)
    w = np.arccos(- np.tan(phi) * np.tan(delta))
    Ra = ((24 * 60) / np.pi) * G * dr * (w * np.sin(phi) * np.sin(delta) + np.cos(phi) * np.cos(delta) * np.sin(w)) #* 10 ** - 6

    # Create a DataFrame with Ra values and corresponding timestamps
    Ra_df = pd.DataFrame({'Ra': Ra}, index=df.index)

    return Ra_df

In [7]:
def process_dataframe(df):
    # Convert the index to datetime
    df.index = pd.to_datetime(df.index)
    
    # Calculate daily mean temperature
    df_temp_mean = df['te'].resample('D').mean()
    # Calculate daily minimum temperature
    df_temp_min = df['te'].resample('D').min()
    # Calculate daily maximum temperature
    df_temp_max = df['te'].resample('D').max()
    
    # Calculate daily precipitation sum
    df_pr_daily = df['pr'].resample('D').sum()
    
    # Calculate extraterrestrial radiation
    lat = -1.071545386681787  # Latitude for calculation
    df_ra = Extra_rad(df_temp_max, df_temp_min, df, lat)
    df_ra_daily = df_ra.resample('D').mean()
    # Concatenate all daily data into a single dataframe
    
    # Concatenate all daily data into a single dataframe
    df_daily = pd.concat([df_pr_daily, df_temp_mean, df_temp_max, df_temp_min, df_], axis=1)
    
    # Rename columns
    df_daily.columns = ['pr', 'te_mean', 'te_max', 'te_min', 'ra']
    
    return df_daily

# Process each dataframe in the dictionary
# for key, df in dataframes.items():
#     # Process the dataframe and update it in the dictionary
#     dataframes[key] = process_dataframe(df)

In [8]:
dataframes['TA00023']

                       te     pr     ra
Timestamp
2018-03-16 08:15:00  27.4  0.017  834.0
2018-03-16 08:20:00  27.3  0.000  643.0
2018-03-16 08:25:00  27.3  0.000  805.0
2018-03-16 08:30:00  27.2  0.000  728.0
2018-03-16 08:35:00  27.2  0.000  676.0
...                   ...    ...    ...
2023-12-30 23:40:00  22.4  0.000    0.0
2023-12-30 23:45:00  22.4  0.000    0.0
2023-12-30 23:50:00  22.3  0.000    0.0
2023-12-30 23:55:00  22.3  0.000    0.0
2023-12-31 00:00:00  22.4  0.000    0.0

[608694 rows x 3 columns]